### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [1]:
variable= "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
variable.count("row")

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [89]:
print("Please enter a name,color and animal")
name=input()
color=input()
animal=input()
print("{0} had a little {1}.".format(name,animal))
print("It was {} as snow.".format(color))
print("And everywhere that {} went, the {} was sure to go.".format(name, animal))

Please enter a name,color and animal
Mary
White
Cat
Mary had a little Cat.
It was White as snow.
And everywhere that Mary went, the Cat was sure to go.

3. Print 3.14159 in a scientific number notation

In [60]:
print(f"{3.14159:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [61]:
print(f"{3.1559:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [62]:
print("{:.3e}".format(1589.92341))

1.590e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

 floor division

In [63]:
39//2

1

In [27]:
19//2

9

In [28]:
9//2

4

In [29]:
4//2

2

In [31]:
2//2

1

In [32]:
1//2

0

mod operators

In [33]:
39%2

1

In [34]:
19%2

1

In [35]:
9%2

1

In [36]:
4%2

0

In [37]:
2%2

0

coverting 39 into binary number is 0b00111

In [38]:
bin(39)

'0b100111'

In [39]:
int(0b100111)

39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [40]:
39//8

4

In [41]:
4//8

0

In [42]:
39%8

7

In [43]:
4%8

4

Convert 39 to an octal number is 0o47

In [44]:
oct(39)

'0o47'

In [45]:
int(0o47)

39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [46]:
39//16

2

In [47]:
2//16

0

In [48]:
39%16

7

In [49]:
2%16

2

Converted 39 to a hexadecimal number 0x27

In [ ]:
hex(39)

In [52]:
int( 0x27)

39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [88]:
print("please enter the amount")
amount=int(input())
print(f"The amount is ${amount:,}")

print("Please enter the tax rate ")
taxRate=int(input())/100
print(f"The tax rate is {taxRate:.2%}")
taxAmount=(amount*taxRate)
totalAmount=amount+taxAmount
#print(taxAmount)
#print(totalAmount)
print("The total amount is ${:,} and the tax amount is ${:,}".format(totalAmount,taxAmount) )

please enter the amount
10000
The amount is $10,000
Please enter the tax rate
6
The tax rate is 6.00%
The total amount is $10,600.0 and the tax amount is $600.0